<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>DuckStore</display-name>
  <welcome-file-list>
    <welcome-file>home</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Variant</display-name>
    <servlet-name>Variant</servlet-name>
    <servlet-class>servlets.admin.Variant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Variant</servlet-name>
    <url-pattern>/Variant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>tét</display-name>
    <servlet-name>tét</servlet-name>
    <servlet-class>servlets.admin.tét</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tét</servlet-name>
    <url-pattern>/tét</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddVariant</display-name>
    <servlet-name>AddVariant</servlet-name>
    <servlet-class>servlets.admin.AddVariant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddVariant</servlet-name>
    <url-pattern>/AddVariant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddVariantsServlet</display-name>
    <servlet-name>AddVariantsServlet</servlet-name>
    <servlet-class>servlets.admin.AddVariantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddVariantsServlet</servlet-name>
    <url-pattern>/AddVariantsServlet</url-pattern>
  </servlet-mapping>
</web-app>